.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid 2px rgb(0, 0, 0);
}

img {
  height: 400px;
  border-radius: 20px;
}

table {
  margin-top: 20px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.buttons > button {
  width: auto;
  padding: 10px 25px;
}
