.App {
  display: flex;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  /* background-color: aquamarine; */
  background-image: url('./images/background.jpg');
  background-size: cover;
}

.left-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  height: 100vh;
}

.right-div {
  display: flex;
  flex-basis: 50%;
  align-items: center;

  justify-content: center;
}

.signin-form {
  border: solid 2px black;
  border-radius: 20px;
  padding: 50px;
  text-align: center;
}

caption {
  font-size: 1.5em;
  margin-bottom: 10px;
}

input {
  padding: 6px;
  border: none;
  background: #f1f1f1;
}

p {
  font-size: medium;
}

button {
  width: 80%;
  padding: 8px 0px;
  border-radius: 10px;
  border: grey;
  background-color: rgb(239, 230, 230);
}

button:hover {
  cursor: pointer;
}

.line-header {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
}

.line-text {
  background: rgb(102, 153, 198); 
  padding:0 10px; 
}

select {
  padding: 5px 10px;
}

.error-msg {
  color: red;
}

.success-msg {
  color: green;
}